body {
    font-family: Roboto;
}

nav {
    font-weight: bold;
}

.nav_marge {
    margin-left: 2%;
    margin-right: 2%;
}

#page {
    overflow-x: hidden;
}

.image_marge {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: absolute;
    top: 40%;
}
.centered_bis {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.centered_btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre_vert {
      color: #088776;
      font-size: 1.2em;
}

.titre_article {
    font-size: 1.35em;
    font-weight: bold;
}

#articles {
    margin-left: 1%;
    margin-right: 1%;
}

.colonne {
      width: 28%;
}

.colonne_image {
    width: 30%;
}

.image_colonne {
    display: inline-block;
    width: 110%;
}

.paragraphe_article {
    font-size: 1.1em;
}

.gris {
    color: gray;
}

.trait {
    border-bottom: gainsboro solid 1px;
}

.logo_piscine {
    width: 25%;
}

